 /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modalLoading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modalLoading {
    display: block;
}


form fieldset {
  padding-top: 20px;
}

form div {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

form div > label {
  width: 250px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 20px;
  line-height: 20px;
  padding: 0;
  font-weight: bold;
}

form div > input, form div > select {
  height: 20px;
  margin: 0px;
  padding: 0px;
}

form div > ul {
  list-style: none;
  padding: 0;
  vertical-align: top;
}

form div > ul li {
  padding: 0;
  margin-left: 270px;    
}

form div > table {
  padding: 0;
}

form div > table td, form div > table th {
  margin: 0;
  padding: 1px 10px;    
}

form div > table th {
  font-weight: normal;
  background-color: #ddff77;
  color: #000000;
}


form div.submit {
  margin-top: 40px;
  background-color: #99cc33;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}

form div.submit button {
  font-weight: bold;
  font-variant: small-caps;
}

div.seedstarterlist {
    
}

div.seedstarterlist > table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

div.seedstarterlist > table > tbody > tr > td, div.seedstarterlist > table > thead > tr > th {
  padding: 2px 10px;
  border-left: 1px dotted #000000;
  vertical-align: top;
  line-height: 20px;
}

div.seedstarterlist > table > tbody > tr, div.seedstarterlist > table > thead > tr {
  border-bottom: 1px solid #000000;
}

div.seedstarterlist > table th {
  background-color: #99cc33;
}

div.seedstarterlist > table > tbody > tr > td > table {
  width: 100%;
  border-collapse: separate;
}

div.seedstarterlist > table > tbody > tr > td > table > tbody > tr> td {
  background-color: #ddff77;
  padding: 0px 5px;
}

div.seedstarterlist > table > tbody > tr > td > table > tbody > tr> td:last-child {
  text-align: right;
}


.fieldError {
    border: 1px solid red;
}

ul.errorlist {
    border: 1px dotted #333;
    margin: 10px 10px 50px 10px;
    padding: 10px;
}

ul.errorlist li {
    list-style: none;
    background-color: #f2d768;
    padding: 5px;
    margin: 3px 0px;
}
