<form role="form" class='usaAjax' action="#"
	th:action="@{|/processoCPOCPP/${origem}/${parametroPesquisado}|}"
	th:object="${processoCPOCPP}" method="post">
	<fieldset>
		<div class="row">
			<div class="col-lg-12">
				<div>
					<h2 th:text="#{titulo.editarProcessoCPOCPP}">Editar Processo
						CPOCPP</h2>

					<ul id="erros" th:if="${#fields.hasErrors('*')}" class="errorlist">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Erro</li>
					</ul>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<th colspan="2"><h4 th:text="#{processoCPOCPP.dados}">Dados</h4></th>
							<tr>
								<td th:text="#{processoCPOCPP.idSecCom}"></td>
								<td th:text="${processoCPOCPP.idSecCom}"></td>
							</tr>
							<tr>
								<td th:text="#{processoCPOCPP.dtEntradaProcessoCPOCPP}"></td>
								<td th:text="${processoCPOCPP.dtEntradaProcessoCPOCPP}"></td>
							</tr>
							<tr>
								<td th:text="#{processoCPOCPP.assunto}"></td>
								<td th:text="${processoCPOCPP.assunto.descAssunto}"></td>
							</tr>
						</table>
					</div>

					<div class="form-group">
						<label for="Status" th:text="#{processoCPOCPP.status}">Status</label>
						<select class="form-control" th:field="*{status}">
							<option th:each="status : ${allStatus}"
								th:value="${status.idStatus}" th:text="${status.descStatus}">Status</option>
						</select>
					</div>
					<div class="form-group">
						<label for="observacoes" th:text="#{processoCPOCPP.observacoes}">observacoes
						</label>
						<textarea class="form-control" type="text"
							th:field="*{observacoes}" th:errorclass="fieldError"></textarea>
					</div>
					<div class="form-group">
						<input type="hidden" th:field="*{assunto}"></input> <input
							type="hidden" th:field="*{dtEntradaProcessoCPOCPP}"></input> <input
							type="hidden" th:field="*{idSecCom}"></input>
					</div>





					<div id="AddHistorico">
						<div class="form-group">
							<button class="btn btn-default" type="submit"
								name="addHistorico"
								onclick="formSubmitClick(this,'page-wrapper')"
								th:text="#{historico.add}">Add DocRel</button>
						</div>

						<div class="form-group"
							th:unless="${#lists.isEmpty(processoCPOCPP.historicos)}">
							<label th:text="#{processoCPOCPP.historicos}">Doc
								Rels</label>
							<table>
								<thead>
									<tr>
										<th th:text="#{historico.dataGravacao}">Data Historico</th>
										<th th:text="#{historico.descHistorico}">Descricao Historico</th>
										<th th:text="#{documentoRelacionado.protocoloPM}">ProtoPM</th>
										<th th:text="#{documentoRelacionado.nomeDocumentoRelacionado}">NumeroDoc</th>
										<th th:text="#{documentoRelacionado.descDocumentoRelacionado}">DescDoc</th>
										<th th:text="#{documentoRelacionado.tipoDocumento}">tipoDoc</th>
										

									</tr>
								</thead>
								<tbody>
									<tr th:each="doc,docStat : *{historicos}">
										<td><input class="form-control" type="text"
											th:field="*{historicos[__${docStat.index}__].documentoRelacionado.protocoloPM}"
											th:errorclass="fieldError" /></td>
										<td><input class="form-control" type="text"
											th:field="*{historicos[__${docStat.index}__].documentoRelacionado.nomeDocumentoRelacionado}"
											th:errorclass="fieldError" /></td>
										<td><input class="form-control" type="text"
											th:field="*{historicos[__${docStat.index}__].documentoRelacionado.descDocumentoRelacionado}"
											th:errorclass="fieldError" /></td>
										<td><input class="form-control" type="file" accept=".pdf"
											th:field="*{historicos[__${docStat.index}__].documentoRelacionado.file}"
											th:errorclass="fieldError" /></td>
										<td><select class="form-control"
											th:field="*{historicos[__${docStat.index}__].documentoRelacionado.tipoDocumento}">
												<option th:each="tipoDocumento : ${allTipoDocumentos}"
													th:value="${tipoDocumento.idTipoDocumento}"
													th:text="${tipoDocumento.descTipoDocumento}">tipdoc</option>
										</select></td>
										<td>
											<button class="btn btn-default" type="submit"
												name="removeDocumentoRelacionado"
												th:value="${docStat.index}"
												onclick="formSubmitClick(this,'page-wrapper')"
												th:text="#{documentoRelacionado.remove}">Remove Doc</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>







				</div>
				<!-- /col-lg-12 -->
			</div>
			<!-- /row -->
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Informacoes</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#interessados" data-toggle="tab"
								aria-expanded="true">Interessados</a></li>
							<li class=""><a href="#ocorrencia" data-toggle="tab"
								aria-expanded="false">Ocorrencia</a></li>
							<li class=""><a href="#historico" data-toggle="tab"
								aria-expanded="false">Historico</a></li>
							<li class=""><a href="#settings" data-toggle="tab"
								aria-expanded="false">Settings</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade active in" id="interessados">
								<h4>Interessados</h4>
								<div id="AddInteressado">
									<div class="form-group">
										<button class="btn btn-default" type="submit"
											name="addInteressado"
											onclick="formSubmitClick(this,'corpoModal')"
											th:text="#{interessado.add}">Add Interessado</button>
									</div>

									<div class="form-group"
										th:unless="${#lists.isEmpty(processoCPOCPP.interessados)}">
										<label th:text="#{processoCPOCPP.interessados}">interessados</label>
										<table>
											<thead>
												<tr>
													<th th:text="#{interessado.reInteressado}">RE</th>
													<th th:text="#{interessado.nomeInteressado}">Variety</th>


												</tr>
											</thead>
											<tbody>
												<tr th:each="interessado,interessadoStat : *{interessados}">
													<td><input class="form-control" type="text"
														th:field="*{interessados[__${interessadoStat.index}__].reInteressado}"
														th:errorclass="fieldError" /></td>
													<td><input class="form-control" type="text"
														th:field="*{interessados[__${interessadoStat.index}__].nomeInteressado}"
														th:errorclass="fieldError" /></td>
													<td>
														<button class="btn btn-default" type="submit"
															name="removeInteressado"
															th:value="${interessadoStat.index}"
															onclick="formSubmitClick(this,'corpoModal')"
															th:text="#{interessado.remove}">Remove
															Interessado</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="ocorrencia">
								<h4>Ocorrencia</h4>
								<div class="form-group">
									<label for="sinteseFatoGerador"
										th:text="#{processoCPOCPP.sinteseFatoGerador}">sinteseFatoGerador
									</label>
									<textarea class="form-control" type="text"
										th:field="*{sinteseFatoGerador}" th:errorclass="fieldError"></textarea>
								</div>
							</div>
							<div class="tab-pane fade" id="historico">
								<h4>Historico</h4>
								
								<table class="table table-striped table-bordered table-hover">
									 <tbody>
										<tr
											th:each="docRel, docRelStat : ${listaDocumentos}">
											<td th:text="${docRelStat.count}">1</td>
											<td th:text="${docRel.idDocumentoRelacionado}">10</td>
											<td
												th:text="${docRel.nomeDocumentoRelacionado}">sindicancia
												n 10bpmi</td>
											<td th:text="${docRel.protocoloPM}">protoPM</td>
											<td><a
												th:href="@{|/downloadDocumentoRelacionado/${docRel.idDocumentoRelacionado}|}"><span
													class="glyphicon glyphicon-download-alt"></span></a></td>
										</tr>
									</tbody> 
								</table>
							</div>
							<div class="tab-pane fade" id="settings">
								<h4>Settings Tab</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam, quis nostrud exercitation
									ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui officia deserunt
									mollit anim id est laborum.</p>
							</div>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<div class="submit form-group">
					<button class="btn btn-default" type="submit" name="save"
						data-dismiss="modal"
						onclick="formSubmitClick(this,'page-wrapper')"
						th:text="#{processoCPOCPP.salvar}">Add ProcessoCPOCPP</button>
				</div>
				<!-- /col-lg-12 -->
			</div>
			<!-- /row -->
		</div>
	</fieldset>
</form>

